@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
:root{
    scroll-behavior: smooth;
    --bg_color_white: #ffffff;
    --texts_color: #252b31;
    --primary_color_blue: #0477bf;
    --yellow_color: #ffe60a;
    --red_color: #ff0000;
    --gray_color: #e1e1e1;
    --color_grisaseo: #80807f;
    --dark_color: #1e1f26;
    --verydark_color: #050506;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--gray_color);
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    transition: background-color .3s;
    position: relative;
}
body.dark{
    background-color: var(--verydark_color);
}

body.dark .header_wrapper, 
body.dark .sidebar, 
body.dark .section__envios,
body.dark .modal_despachar, body.dark .modal__rechazar{
    background-color: var(--dark_color);
}
body.dark .white_mode{
    color: var(--gray_color);
    transition: color .3s;
}

body.dark .link:hover, body.dark .submenu__link:hover{
    color: #0477bf;
    background-color: var(--texts_color);
}

/* estilos del header */

.header_wrapper{
    grid-area: header;
    background-color: var(--bg_color_white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    transition: background-color .3s;
}
.user_text{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--texts_color);
    transition: color .3s;
}
.user_img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}
.buttons{
    display: flex;
    align-items: center;
    gap: 20px;
}
/* estilos del boton de cambio de tema */
.theme__mode{
    width: 80px;
    height: 40px;
    border-radius: 25px;
    border: none;
    position: relative;
    cursor: pointer;
    background-color: #ffd013;
}
.theme__mode::after{
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: rgb(200, 200, 200);
    top: 0;
    left: unset;
    border-radius: 50%;
    right: 0;
    box-shadow: 0 0 2px 2px rgba(84, 84, 84, 0.5);
}
.theme_mode_active{
    background-color: var(--color_grisaseo);
}
.theme_mode_active::after{
    left: 0;
    right: unset;
}
.theme__mode span{
    font-size: 20px;
    color: var(--bg_color_white);
}
.cerrar_sesion{
    background-color: var(--primary_color_blue);
    border-radius: 20px;
    padding: 10px 20px;
    color: var(--bg_color_white);
    text-decoration: none;
}

/* estilos del menu de navegacion */

.sidebar{
    grid-area: sidebar;
    background-color: var(--bg_color_white);
    transition: background-color .3s;
    overflow-y: auto;
}
.logo_container{
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.logo_img{
    width: 120px;
    display: block;
    object-fit: cover;
}
.logo_title{
    color: var(--texts_color);
    letter-spacing: 1.5px;
    transition: color .3s;
}
.logo_title-blue{
    color: var(--primary_color_blue);
}
.nav__container{
    width: 90%;
    margin: 0 auto;
}
.nav__links{
    list-style: none;
}
.nav__links li{
    position: relative;
}
.texts_icons{
    display: flex;
    justify-content: space-between;
}
.fa-caret-down{
    /* margin-left: 90px; */
    font-size: 20px;
    transition: transform .3s;
}
.down__rotate{
    transform: rotate(-180deg);
    transition: transform .3s;
}
.submenu{
    list-style: none;
    /* display: none; */
    height: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .3s;
}
.submenu__link{
    text-decoration: none;
    color: var(--texts_color);
    display: block;
    padding: 10px 10px 10px 40px;
    transition-property: background-color, color;
    transition-duration: .3s, .3s;
}
.submenu__show{
    height: auto;
    transform: scaleY(1);
}
.link{
    display: block;
    text-decoration: none;
    color: var(--texts_color);
    padding: 10px 20px;
    transition-property: background-color, color;
    transition-duration: .3s, .3s;
}
i{
    margin-right: 10px;
}
.link:hover, .submenu__link:hover{
    color: #0477bf;
    background-color: var(--gray_color);
}

.alert{
    width: 25px;
    height: 25px;
    color: #fff;
    background: red;
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: alerta .5s infinite alternate;
}

@keyframes alerta{
    0%{rotate: 10deg;}
    35%{rotate: -10deg;}
    70%{rotate: 10deg;}
    100%{rotate: -10deg;}
}

/* estilos del main */

main{
    grid-area: main;
    /* height: 100vh; */
    overflow: auto;
}

/* ==== MAIN REDACTAR ==== */
.container_mains{
    width: 95%;
    padding: 30px 0;
    margin: 0 auto;
    /* background-color: var(--bg_color_white); */
    /* border-radius: 5px; */
    overflow-x: auto;
    /* transition: background-color .3s; */
}
.main_enviados_title{
    width: 100%;
    height: 60px;
    display: grid;
    align-items: center;
    padding: 0 30px;
    background-color: var(--primary_color_blue);
    color: var(--bg_color_white);
}
.redactar__container{
    display: flex;
    
}
.form_redactar{
    width: 50%;
    display: grid;
    gap: 20px;
}
.inputs_container{
    width: 90%;
    margin: 0 auto;
    display: grid;
    gap: 20px;
}
.input_item{
    display: flex;
    gap: 5px;
}
.inputs{
    width: 100%;
    padding: 5px;
    outline: none;
    border: 1px solid;
}
.btns{
    display: flex;
    width: 100%;
    gap: 5px;
    justify-content: flex-end;
}
.inputs:focus{
    border-color: var(--primary_color_blue);
}
::-webkit-calendar-picker-indicator{
    background-color: var(--bg_color_white);
    padding: 3px;
}
body.dark .inputs:focus{
    border-color: var(--primary_color_blue);
}
body.dark .inputs{
    background-color: transparent;
    padding: 5px;
    color: var(--gray_color);
    border: 1px solid var(--bg_color_white);
}
body.dark .file_input{
    background-color: var(--primary_color_blue);
    border: none;
}
.file_input{
    background-color: var(--primary_color_blue);
    color: var(--gray_color);
    padding: 5px;

}
.cta{
    border: 1px solid var(--primary_color_blue);
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    color: var(--texts_color);
}
body.dark .cta{
    color: var(--bg_color_white);
}
.figure_container{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    order: 1;
}
.figure_img{
    width: 100%;
    max-width: 350px;
    display: block;
}


/* ===== MAIN ENVIADOS ====== */

.table_enviados{
    width: 100%;
    border-collapse: collapse;
    padding-top: 20px;
}
.table_enviados thead{
    background-color: var(--primary_color_blue);
    color: var(--bg_color_white);
    text-align: center;
}
.table_enviados th, 
.table_enviados td{
    padding: 5px;
}
.table_enviados tbody tr{
    font-size: 15px;
    border-bottom: 1px solid var(--color_grisaseo);
}
.table_enviados tbody td{
    text-align: center;
}
.table_enviados tbody td:nth-of-type(1){
    max-width: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.table_enviados tbody td:nth-of-type(4){
    max-width: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.table_enviados tbody tr:nth-of-type(even){
    background-color: var(--bg_color_white);
    transition: background-color .3s;
}
body.dark .table_enviados tbody tr:nth-of-type(even){
    background-color: var(--texts_color);
}
.table_enviados tbody tr:last-of-type{
    border-bottom: 2px solid var(--primary_color_blue);
}
.ctas{
    text-decoration: none;
    font-weight: 800; 
    font-size: 22px;
}
.cta_editar{
    color: var(--yellow_color);
}
.cta_eliminar{
    color: var(--red_color);
}

/* ===== MAIN INDEX ====== */

.section_index{
    padding: 20px;
    width: 100%;
    height: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 32%;
    grid-template-rows: 100px 1fr;
    grid-template-areas: 
    "cards1 cards1"
    "cards2 cards3"
    ;
}
.cards_container{
    grid-area: cards1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.card{
    height: 100px;
    background-color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
.card:first-of-type{
    box-shadow: -2px 0 0 orange;
}
.card:nth-of-type(2){
    box-shadow: -2px 0 0 orangered;
}
.card:nth-of-type(3){
    box-shadow: -2px 0 0 green;
}
.icon_card{
    padding: 5px;
    background-color: #1e1e1e;
    border-radius: 50%;
}
.yellow_icon{
    background-color: orange;
}
.orange_icon{
    background-color: orangered;
}
.green_icon{
    background-color: green;
}
.icon_card i{
    margin-left: 50%;
    transform: translateX(-50%);
    color: #fff;
}
.card_text{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_enviados{
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card_recibidos{
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ===== MAIN PERFIL DE USUARIO ========== */

.perfil_title{
    text-align: center;
    margin-bottom: 20px;
}
.main_perfil{
    padding: 20px;
    display: flex;
    gap: 20px;
}
.perfil_container{
    background-color: #fff;
    padding: 20px;
    width: 90%;
    max-width: 500px;
}
.editar_user{
    opacity: .6;
    pointer-events: none;
}
.editar_user_active{
    pointer-events: all;
    opacity: 1;
}
.basic_data{
    display: flex;
    gap: 20px;
}
.img_user{
    width: 120px;
}
.user_names{
    width: 100%;
}
.perfil_container label, .perfil_container input{
    display: block;
}
.perfil_container input{
    width: 100%;
    padding: 5px;
}
.perfil_btns{
    text-align: end;
    margin-top: 20px;
}
/* ==== ESTILOS DE LOS MODALES ===== */

.modal__container, .modal__container_rechazar{
    width: 100%;
    height: 100vh;
    position: absolute;
    background: #0000004c;
    left: 0;
    top: 0;
    z-index: 100;
    display: none;
}
.modal_despachar, .modal__rechazar{
    position: absolute;
    width: 400px;
    padding: 30px 20px;
    background-color: var(--bg_color_white);
    top: 30%;
    left: 50%;
    transform: translate(-30%, -50%);
    z-index: 999;
    border-radius: 5px;
}
.modal_title{
    text-align: center;
    margin-bottom: 10px;
}
.form_modal{
    width: 90%;
    margin: 0 auto;
    display: grid;
    gap: 10px;
}
.areas_container{
    display: flex;
    justify-content: space-between;
}
.btn_despacho, .btn_cancelar{
    border: none;
    border-radius: 5px;
    background-color: transparent;
    padding: 6px 15px;
    font-weight: 700;
    cursor: pointer;
}
.btn_despacho{
    background-color: var(--primary_color_blue);
    color: var(--bg_color_white);
}
.btn_cancelar{
    border: 1px solid var(--primary_color_blue);
}
.btn_cancelar2{
    border: 1px solid var(--primary_color_blue);
    width: 100%;
}
.cancelar_container{
    width: 90%;
    margin: 20px auto 0;
}
.buttons_modal{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.select_areas{
    border: 1px solid;
    outline: none;
    padding: 5px;
    background-color: transparent;
    resize: none;
}
.select_areas:focus{
    border-color: var(--primary_color_blue);
}
body.dark .select_areas:focus option{
    background-color: var(--dark_color);
    color: var(--gray_color);
}
.show_modal{
    display: block;
}

.show_modal_rechazar{
    display: block;
}