@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
:root{
    --bg_color_white: #ffffff;
    --texts_color: #252b31;
    --primary_color_blue: #0477bf;
    --gray_color: #e1e1e1;
    --color_celeste: #80807f;
    --dark_color: #1e1f26;
    --verydark_color: #000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--gray_color);
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    transition: background-color .3s;
}
body.dark{
    background-color: var(--verydark_color);
}

body.dark .header_wrapper, body.dark .sidebar, body.dark .section__envios{
    background-color: var(--dark_color);
}
body.dark .white_mode{
    color: var(--gray_color);
}

body.dark .link:hover, body.dark .submenu__link:hover{
    color: #0477bf;
    background-color: var(--texts_color);
}

/* estilos del header */

.header_wrapper{
    grid-area: header;
    background-color: var(--bg_color_white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    transition: background-color .3s;
}
.user_text{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--texts_color);
    transition: color .3s;
}
.user_img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}
.buttons{
    display: flex;
    align-items: center;
    gap: 20px;
}
/* estilos del boton de cambio de tema */
.theme__mode{
    width: 80px;
    height: 40px;
    border-radius: 25px;
    border: none;
    position: relative;
    cursor: pointer;
    background-color: #ffd013;
}
.theme__mode::after{
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: rgb(200, 200, 200);
    top: 0;
    left: unset;
    border-radius: 50%;
    right: 0;
    box-shadow: 0 0 2px 2px rgba(84, 84, 84, 0.5);
}
.theme_mode_active{
    background-color: var(--color_celeste);
}
.theme_mode_active::after{
    left: 0;
    right: unset;
}
.theme__mode span{
    font-size: 20px;
    color: var(--bg_color_white);
}
.cerrar_sesion{
    background-color: var(--primary_color_blue);
    border-radius: 20px;
    padding: 10px 20px;
    color: var(--bg_color_white);
    text-decoration: none;
}

/* estilos del menu de navegacion */

.sidebar{
    grid-area: sidebar;
    background-color: var(--bg_color_white);
    transition: background-color .3s;
    overflow-y: auto;
}
.logo_container{
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.logo_img{
    width: 120px;
    display: block;
    object-fit: cover;
}
.logo_title{
    color: var(--texts_color);
    letter-spacing: 1.5px;
    transition: color .3s;
}
.logo_title-blue{
    color: var(--primary_color_blue);
}
.nav__container{
    width: 90%;
    margin: 0 auto;
}
.nav__links{
    list-style: none;
}
.nav__links li{
    position: relative;
}
.fa-caret-down{
    margin-left: 90px;
    font-size: 20px;
    transition: transform .3s;
}
.down__rotate{
    transform: rotate(-180deg);
    transition: transform .3s;
}
.submenu{
    list-style: none;
    display: none;
}
.submenu__link{
    text-decoration: none;
    color: var(--texts_color);
    display: block;
    padding: 10px 10px 10px 40px;
    transition-property: background-color, color;
    transition-duration: .3s, .3s;
}
.submenu__show{
    display: block;
}
.link{
    display: block;
    text-decoration: none;
    color: var(--texts_color);
    padding: 10px 20px;
    transition-property: background-color, color;
    transition-duration: .3s, .3s;
}
i{
    margin-right: 10px;
}
.link:hover, .submenu__link:hover{
    color: #0477bf;
    background-color: var(--gray_color);
}

/* estilos del main */

main{
    padding: 40px 20px;
}
